
<div class="container-fluid">
  <ul class="row accordion">
    <li class="col-xs-12 col-sm-12 col-md-12 center alert alert-danger" role="alert">
      <% flash.each do |key,value| %>
        <%= content_tag(:div,value,class: "#{key}") %>
      <% end %>
    </li>
  </ul>
  <div class="b-radius main_contents_background_color">
    <ul class="row accordion">
      <li class="hidden-xs hidden-sm col-md-12 b-radius main_contents_area main_contents_background_color">
        <div class="row profile_background b-radius user_center">
          <p><h2><%= @user.name %>さんのアカウント詳細ページ</h2></p>
          <p>メールアドレス： <%= @user.email %></p>
          <!-- アイコンを設定していなければNoUserImageを表示。設定していたらアップロードした画像を表示-->
          <% if @user.image && @user.image.url %>
            <%= image_tag(@user.image.url,size: "200x150") %>
          <% else %>
            <i class="far fa-user menu_right user_icon"></i>
          <p>No image</p>
          <% end %>

          <br>

          <% if current_user.id == @user.id %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@blog">編集</button>
            <%= link_to '削除',blog_path(id: @user.id),method: :delete,class: "btn btn-danger" ,
                      data: {confirm: '本当に削除してもよろしいですか？',cancel: 'キャンセル',commit: '削除する',title: '削除確認'} %>
          <% end %>
        </div>
      </li>
    </ul>

    <ul class="row all_blog_list_menu">
      <li class="col-xs-12 col-sm-12 col-md-12">
        <div class="row b-radius favo_h">
          <h4><%= @user.name %>さんが、投稿したブログ一覧</h4>
        </div>
      </li>
    </ul>

    <div class="row all_blog_list_menu">
      <% i = 0 %>
      <% @my_blogs.reverse().each do |list| %>
        <div class="col-md-4">
          <div class="card row no-gutters b-radius">
            <div class="col-xs-4 col-sm-4 col-md-4 card-img-top">
              <% if list.image && list.image.url %>
                <%= image_tag(list.image.url) %>
              <% else %>
                <%= image_tag('no_image.png') %>
              <% end %>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="card-body">
                <h3 class="card-title">投稿したユーザー：<%= list.user.name %></h3>
                <p>コメント：<%= list.content %></p>
                <%= link_to '記事を見る',blog_path(id: list.id),class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        </div>
        <% i += 1 %>
        <% if i > 2 %>
          </div>
          <div class="row all_blog_list_menu">
            <% i = 0 %>
        <% end %>
      <% end %>
    </div>


    <ul class="row all_blog_list_menu">
      <li class="col-xs-12 col-sm-12 col-md-12">
        <div class="row b-radius favo_h">
          <h4><%= @user.name %>さんが、お気に入り登録したブログ一覧</h4>
        </div>
      </li>
    </ul>

    <div class="row all_blog_list_menu">
      <% i = 0 %>
      <% @blogs_favo.reverse().each do |list| %>
        <div class="col-md-4">
          <div class="card row no-gutters b-radius">
            <div class="col-xs-4 col-sm-4 col-md-4 card-img-top">
              <% if list.image && list.image.url %>
                <%= image_tag(list.image.url) %>
              <% else %>
                <%= image_tag('no_image.png') %>
              <% end %>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="card-body">
                <h3 class="card-title">投稿したユーザー：<%= list.user.name %></h3>
                <p>コメント：<%= list.content %></p>
                <%= link_to '記事を見る',blog_path(id: list.id),class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        </div>
        <% i += 1 %>
        <% if i > 2 %>
          </div>
          <div class="row all_blog_list_menu">
            <% i = 0 %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">編集内容</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with(model: @user, local: true) do |form| %>
        <div class="modal-body">
            <div class="field">
              <table>
                <tr>
                  <td>e-mail</td><td>：</td><td><%= form.text_area :email %></td>
                </tr>
                <tr>
                  <th>画像</th><td>：</td>
                  <td>
                    <div class="field image">
                      <%= form.label '↓クリックでファイル選択' %>
                      <div id="img_field" onClick="$('#file').click()">
                        <% if @user.image.present? %>
                          <%= image_tag(@user.image.url,:size => "200x150") %>
                        <% else %>
                          <i><%= fa_icon("image") %></i><i class="add"><%= fa_icon("upload") %></i>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              </table>

              <br>
              <p>画像を変更したい場合は、新しい画像を選択して下さい</p>
              <%= form.file_field :image,class: "image", style: "display:none;",id: "file" %>
              <%= form.hidden_field @user.image.url if @user.image && @user.image.url %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
          <input type="reset" value="リセット" class="btn btn-secondary" id="deleteButton" onclick="img_field_change()">
            <%= form.submit("確定",class: "btn btn-primary",
                            data:{confirm: '本当に編集してもよろしいですか？',cancel: 'キャンセル',commit: '編集する',title: '編集確認'}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  const img_field_change = function(){
    const img_chenge = document.getElementById('img_field');
    <% if @user.image && @user.image.url %>
      img_chenge.innerHTML = '<%= image_tag(@user.image.url,:size => "200x150") %>';
    <% else %>
      img_chenge.innerHTML = '<i><%= fa_icon("image") %></i><i class="add"><%= fa_icon("upload") %></i>';
    <% end %>
  }
</script>