<!DOCTYPE html>
<html>
  <head>
    <title>instagram_clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  </head>

  <body>

    <div class="container-field">
      <header>
        <nav>
          <ul class="row menu">
            <li class="col-xs-4 col-sm-4 col-md-5 menu_top_link"><i class="fab fa-instagram"></i>｜instagram_clone</li>
            <li class="col-xs-2 col-sm-2 col-md-1 center"><a href="https://github.com/noriya1217/facebook_clone">GitHub</a></li>
            <% if logged_in? %>
              <li class="hidden-xs hidden-sm col-md-3">検索ボックス</li>
              <li class="col-xs-2 col-sm-2 col-md-1 center"><%= link_to "ホーム", facebook_clones_path %></li>
              <li class="col-xs-2 col-sm-2 col-md-1 center"><%= link_to "Profile", user_path(current_user.id) %></li>
              <li class="col-xs-2 col-sm-2 col-md-1 center"><%= link_to "Logout" , session_path(current_user.id), method: :delete %></li>
            <% else %>
              <li class="col-xs-6 col-sm-6 col-md-"></li>
            <% end %>
          </ul>
        </nav>
      </header>
    </div>

    <%= yield %>

    <div class="container-field footer_container">
      <footer>
        <nav>
          <ul class="row">
            <li class="col-xs-12 col-sm-12 col-md-12 center">
              <p>
                <b><a href="#" class="footer_link">INSTAGRAMについて</a></b>
                <b><a href="#" class="footer_link">サポート</a></b>
                <b><a href="#" class="footer_link">プレス</a></b>
                <b><a href="#" class="footer_link">API</a></b>
                <b><a href="#" class="footer_link">求人</a></b>
                <b><a href="#" class="footer_link">プライバシー</a></b>
                <b><a href="#" class="footer_link">利用規約</a></b>
                <b><a href="#" class="footer_link">ディレクトリ</a></b>
                <b><a href="#" class="footer_link">プロフィール</a></b>
                <b><a href="#" class="footer_link">ハッシュタグ</a></b>
                <b><a href="#" class="footer_link">言語</a></b>
                <b class="copyright">©2019 INSTAGRAM CLONE</b>
              </p>
            </li>
          </ul>
        </nav>
      </footer>

  </body>
</html>
